/*Header y nav*/

header {
    background-color: rgb(255, 255, 255);
    display: flex;
}

header h1{
    margin-top: 30px;
    margin-left: 10px;
}

nav {
    margin-left: 140px;
    width: 50%;
    height: 100px;
    list-style-type: none;
}

nav ul {
    padding-right: 10px;
    
    margin-top: 50px;   
    float: right;
    list-style-type: none;
}

nav ul li {
    padding: 5px;
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

/*Body/main*/

body {
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    margin: 0 auto;
    width: 960px;
}

article h1 {
    text-align: center;
    font-size: 2em;
}
/*Footer*/
footer {
    height: 200px;
    background-color: rgb(194, 194, 194);
    padding: 10px;
}

footer ul{
    list-style-type: none;
}

footer ul a{
    text-decoration: none;
    color: black;
}

/*Clases*/
.image {
    height: 100px;
}

.portada{
    height: 200px;
    border-radius: 10px;
}

.links{
    display: flex;
    gap: 10px;
    align-content: center;
}


.tabla8 {
    padding-top: 100px;
}

.tabla7 {
    border: solid black;
}

.tit-tabla{
    padding-bottom: 10px;
    border-bottom: solid black;
}

.tabla7 h2{
    text-align: center;
}

.tit-cen{
    text-align: center;
}

/*ID´s*/

#icon{
    height: 80px;
    align-items: center;
    margin: 10px; 
}

#descripcion {
    clear: both;
    column-count: 3;
}

#col-izq {
    width: 260px;
    float: left;
    
}

#col-prin {
    float: left;
    width: 700px;
}

#inicio {
    border-top: solid 3px red;
}

#inicio:hover {
    transition: 0.5s;
    background-color: red;
}

#nubetop {
    border-top: solid 3px cornflowerblue;
}

#nubetop:hover {
    transition: 0.5s;
    background-color: cornflowerblue;
}

#editorial {
    border-top: solid 3px yellow;
}

#editorial:hover {
    transition: 0.5s;
    background-color: yellow;
}

#year {
    border-top: solid 3px green;
}

#year:hover {
    transition: 0.5s;
    background-color: green;
}