/*Header y nav*/
header {
    background-color: rgb(255, 255, 255);
    display: flex;
}

header h1{
    margin-top: 30px;
    margin-left: 10px;
}

nav {
    width: 50%;
    height: 100px;
    list-style-type: none;
}

nav ul {
    padding-right: 10px;
    margin-left: 50px;
    margin-top: 50px;   
    float: right;
    list-style-type: none;
}

nav ul li {
    padding: 5px;
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

/*Body/main*/

body {
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    margin: 0 auto;
    width: 960px;
}

article h1 {
    text-align: center;
    font-size: 2em;
}
/*Footer*/
footer {
    background-color: black 
}

footer h2{
    color:white;
}

footer ul{
    list-style-type: none;

    justify-content: space-between;

}

footer p {
    color:white;
}


/*Clases*/
.image {
    height: 100px;
}

.portada{
    height: 200px;
}


.tabla8 {
    padding-top: 100px;
}

/*ID´s*/

#icon{
    height: 100px;
    margin-left: 10px; 
}

#descripcion {
    clear: both;
    column-count: 3;
}

#col-izq {
    width: 260px;
    float: left;
}

#col-prin {
    float: left;
    width: 700px;
}

#inicio {
    border-top: solid 3px red;
}

#inicio:hover {
    transition: 0.5s;
    background-color: red;
}

#nubetop {
    border-top: solid 3px cornflowerblue;
}

#nubetop:hover {
    transition: 0.5s;
    background-color: cornflowerblue;
}

#editorial {
    border-top: solid 3px yellow;
}

#editorial:hover {
    transition: 0.5s;
    background-color: yellow;
}

#year {
    border-top: solid 3px green;
}

#year:hover {
    transition: 0.5s;
    background-color: green;
}